{% extends "network/layout.html" %}
{% block body %}
    TODO
    <br>
    hr: {{ hr }}
    <br>
    <br>
    My page:
    {% if users_page != request.user %}
        <div id="user_follow" style="border: 1px solid #777;">nico</div>
    {% else %}
        <div id="user_follow" style="border: 1px solid #777;">Can't follow</div>
    {% endif %}
    <br>
    username: {{ users_page.username }}
    <br>
    email: {{ users_page.email }}
    <br>
    following: {{ users_page.following }}
    <br>
    followers: {{ users_page.followers }}
    <br>
    <br>
    posts:
    <br>
    {% for post in posts %}
        <div class="each_post col-8 offset-2">
            {{ post.author }}
            <br>
            {{ post.content }}
            <br>
            {{ post.time_created }}
            <br>
            {{ post.likes.all.count }}
            <br>
        </div>
    {% empty %}
        No posts.
    {% endfor %}
{% endblock %}
